.logo {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold; /*copied from figma but it doesn't look right*/
    font-size: 30px;
    line-height: 48px;
    /* or 160% */
    letter-spacing: -0.02em;
    color: #0A1B32;
    margin-top: 37x;
    margin-left: 80px;
    margin-right: 58px;
}
.logo-dot {
    color: #FC569A;
}

h3, nav{
    display: inline-block;
}
.nav-list, .sign-list {
    list-style-type: none;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: 0.02em;
    color: #1B0A42;
}
.nav-list {
    word-spacing: 38px;
}
.sign-list {
    margin-left: 352px;
    /*not the margin in figma (it says double but that didn't work*/
}
a:link {
    text-decoration: none;
    color: #1B0A42;
}
.sign-button {
    width: 120px;
    height: 60px;
    margin-left: 40px;
    background-color: #FC569A;
    border-radius: 6px;
    border: none;
    color: #FFFFFF;
}
li {
    display: inline-block;
}
.main-title {
    max-width: 495px;
    width: 100%;
    margin-top: 203px;
    margin-left: 200px;
    font-family: 'Ramaraja', serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 62px;
    line-height: 76px;
    /* or 106% */
    letter-spacing: 00.02em;
    color: #1B0A42;
}

.main-info {
    max-width: 582px;
    width: 100%;
    margin-top: 10px;
    margin-left: 200px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */
    letter-spacing: 0.02em;
    color: #9A9A9A;
}
.learn-button {
    width: 152px;
    height: 64px;
    margin-left: 200px;
    background-color: #FC569A;
    border-radius: 6px;
    border: none;
    color: #FFFFFF;
}

section {
    display: inline-block; /*not working*/
}